<!doctype html>
<html lang="PT-br">
  <head>
    <link rel="stylesheet" href="styles/Home.css" />
    <link rel="stylesheet" href="styles/AdminView.css" />
    <link
      rel="stylesheet"
      href="styles/modals/AdminManagement/PrincipalModalAdmins.css"
    />
    <link
      rel="stylesheet"
      href="styles/modals/AdminManagement/ModifyModal.css"
    />
    <link
      rel="stylesheet"
      href="styles/modals/AdminManagement/AlterModal.css"
    />
    <script src="js/AdminManagement/OpenModalManagement.js" defer></script>
    <script src="js/AdminManagement/AlertDelete.js" defer></script>
    <script src="js/AdminManagement/AlterEntity.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/logo_SOSA.png" />
    <title>viewport Management</title>
  </head>
  <body class="layout-wrapper">
    <%- include('./elements/aside.ejs')%>
    <div class="layout-content">
      <%- include('./elements/header.ejs')%>
      <main>
        <div class="admin-painel">
          <div class="button-painel">
            <button id="open-modal" class="button-select" type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
              Nova Entidade
            </button>
          </div>
          <table>
            <tr class="cabeçalho">
              <th>Nome Do Servidor</th>
              <th class="mid">Tipo de usuário</th>
              <th>Opções</th>
            </tr>
            <% ManagersOutput.forEach(element => { %>
                <tr>
                  <td><%=element.name%></td>
              <td class="mid1"><%=element.type%></td>
              <td class="table-options">
                <buttom type="buttom" onclick="ConfirmDelete('<%=element.id%>')">
                <div class="delete">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-x-circle"
                    viewBox="0 0 16 16"
                    id="open-DeleteModal"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </div>
              </buttom>
              <button class="option-buttom" type="buttom" onclick="ConfirmAlter('<%=element.id%>')">
                <div class="alterAutorization">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-person-exclamation"
                    viewBox="0 0 16 16"
                    id="open-AlterModal"
                  >
                    <path
                      d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"
                    />
                  </svg>
                </div>
              </button>
              </td>
                  </tr>
             <% }); %>
          </table>
        </div>
      </main>
    </div>
    <div id="fade" class="hide"></div>
    <div id="modal" class="hide"> 
      <div class="modal-header">
        <h2>Nova Entidade</h2>
        <button id="close-modal" class="button-select" type="button">
          Fechar
        </button>
      </div>
      <form action="/AdminManagement" method="POST">
        <div class="layout-center-modal">
          <input
            type="text"
            placeholder="Insira seu nome"
            class="modalInput"
            id="Nome"
            name="name"
          />
          <div class="passwordsInput">
            <input
              type="password"
              placeholder="Insira sua senha"
              class="modalInput"
              minlength="8"
              id="Senha1"
              name="password"
            />
            <input
              type="password"
              placeholder="Repita sua senha"
              class="modalInput"
              minlength="8"
              id="Senha2"
            />
          </div>
          <div class="modal-subCente">
            <select name="type" class="button-select">
              <option value="Servidor Da CAED">Servidor da CAED</option>
              <option value="Guarda">Guarda</option>
            </select>
          </div>
        </div>
        <div class="layout-rooter-modal">
          <button id="add-close-modal" class="button-select" type="submit">
            Adicionar Entidade
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
